Crypto_Technical_Analysis.json
{
  "name": "Crypto Technical Analysis",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Assistant is a large language model trained by OpenAI.\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, it is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\nWhen doing a technical analysis, please display the resulting 📊 graph in markdown format\nToday's date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        240,
        -280
      ],
      "id": "13b0d3cc-e762-40f3-9424-c1003dc7fe2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        -60
      ],
      "id": "fb690eb4-8596-4c2d-9a58-a5a4439bac78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GTi7ado5nDz4usfJ",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        -60
      ],
      "id": "f083e446-5254-4892-b606-cc5f819d7d73",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "This tool is useful for technical analysis pf a stock. then processing the output of the tool, URLSs returned should always be in markdown format. for example ![](url)",
        "workflowId": {
          "__rl": true,
          "value": "LJSUDFnnPNFSSbQh",
          "mode": "list",
          "cachedResultName": "Technical Analysis Chart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', ``, 'string') }}",
            "chatid": "={{ $('Telegram Trigger').item.json.message.from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        500,
        -60
      ],
      "id": "8ffc9f99-4bc2-4c09-abc6-c396962abcd2",
      "name": "Technical Analysis"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "chatid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        680,
        -280
      ],
      "id": "cfb54d3a-7b88-476b-bed6-5178b557620e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4968cb0b-b867-4931-b8ae-c191331c21a1",
              "name": "company",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -280
      ],
      "id": "3d449bfc-25a1-415c-a37a-00330b5faf72",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "sIRCWps6WiHMUJxJHG6B1cgohUTwVJM4WZpfzkGb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"BINANCE:{{ \n    $json.company === 'Bitcoin' ? 'BTCUSDT' : \n    ($json.company.includes('-USD') ? $json.company.replace('-USD', 'USDT') : \n    ($json.company.includes('USDT') ? $json.company : $json.company + 'USDT')) \n  }}\",\n  \"studies\": [\n    {\n      \"name\": \"Volume\"\n    },\n    {\n      \"name\": \"Relative Strength Index\"\n    },\n    {\n      \"name\": \"Directional Movement\",\n      \"override\": {\n        \"+DI.visible\": true,\n        \"+DI.linewidth\": 1,\n        \"+DI.plottype\": \"line\",\n        \"+DI.color\": \"rgb(0,150,255)\",\n        \"-DI.visible\": true,\n        \"-DI.linewidth\": 1,\n        \"-DI.plottype\": \"line\",\n        \"-DI.color\": \"rgb(255,0,0)\",\n        \"ADX.visible\": true,\n        \"ADX.linewidth\": 1,\n        \"ADX.plottype\": \"line\",\n        \"ADX.color\": \"rgb(245,0,87)\",\n        \"ADXR.linewidth\": 1,\n        \"ADXR.visible\": true,\n        \"ADXR.plottype\": \"line\",\n        \"ADXR.color\": \"rgba(255,255,255,0)\"\n      }\n    }\n  ],\n  \"format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -280
      ],
      "id": "0ee3d8a1-9de4-4476-92cc-800793c54d81",
      "name": "Trading View Chart",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5tQzgWkR22iYHAEi",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -280
      ],
      "id": "60b964d1-5234-4746-91ff-180113245e4f",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Financial Analysis Prompt for Telegram (Max 4,000 characters)\n\nGenerate a concise technical analysis report for {{ $node[\"Edit Fields\"].json.company }} focused on actionable trading signals. Keep the entire response under 4,000 characters (Telegram limit: 4,096).\n\n## Required Structure:\n\n**📊 {{ $node[\"Edit Fields\"].json.company }} - Technical Analysis**\n\n**🎯 SIGNAL: [BUY/SELL/HOLD]**\n\n**📈 Price Action:**\n- Current trend: [Up/Down/Sideways]\n- Key levels: S: $XX.XX | R: $XX.XX\n- Pattern: [Brief pattern name if any]\n\n**📋 Indicators:**\n- RSI: [Value] - [Overbought/Oversold/Neutral]\n- DMI: ADX [Value] | +DI [above/below] -DI\n- Volume: [Confirming/Diverging] trend\n\n**⚡ Trading Setup:**\n- Entry: $XX.XX [condition]\n- Stop: $XX.XX (-X.X%)\n- Target: $XX.XX (+X.X%)\n- R/R: 1:[ratio]\n\n**⏰ Timeframe:** [Short/Medium/Long]-term ([X] days/weeks)\n\n**⚠️ Risk:** [High/Medium/Low] - [Brief reason]\n\n---\n\n## Instructions:\n1. Be extremely concise - use bullet points and abbreviations\n2. Focus on ACTIONABLE signals, not explanations\n3. Include specific price levels and percentages\n4. Use emojis for visual separation\n5. Skip theoretical explanations\n6. Prioritize: Signal → Levels → Risk/Reward\n7. Keep total length under 4,000 characters\n8. End with a clear trading recommendation\n\n**Character Limit Reminder: Telegram messages are limited to 4,096 characters. This response must stay under 4,000 characters to ensure delivery.**\n\n**IMPORTANT OUTPUT FORMAT:** \n- Output the response in PLAIN TEXT format only\n- Do NOT wrap the response in markdown code blocks\n- Do NOT use ```markdown``` tags or any backticks\n- Provide the raw text that can be sent directly to Telegram\n- Start directly with the company analysis, no formatting wrapper\n```",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1380,
        -180
      ],
      "id": "e5275bdd-539a-4209-9dc9-48c61cef2301",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1480,
        40
      ],
      "id": "6244aa6d-f4cd-49cd-adc9-20b1eae577b8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GTi7ado5nDz4usfJ",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        -280
      ],
      "id": "41afd551-0323-4d9e-9804-ecc8f6d9ec86",
      "name": "Telegram Trigger",
      "webhookId": "3e6f9e37-ad9a-45a5-89ed-be7e9156aba6",
      "credentials": {
        "telegramApi": {
          "id": "wwB3MlzEijeJQ0WF",
          "name": "Abdul Rehman"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $node[\"When Executed by Another Workflow\"].json.chatid.id }}",
        "file": "={{ $node[\"Download Chart\"].json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        -360
      ],
      "id": "996b32d1-e96a-4d01-8241-77eed6572f34",
      "name": "Telegram1",
      "webhookId": "2d8bf33b-1984-474f-b2f1-7e1bb2da9dfb",
      "credentials": {
        "telegramApi": {
          "id": "wwB3MlzEijeJQ0WF",
          "name": "Abdul Rehman"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6462007366",
        "text": "={{ $node[\"Basic LLM Chain\"].json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1700,
        -180
      ],
      "id": "5cb45110-a970-4a94-9482-f8c5071f0a96",
      "name": "Telegram",
      "webhookId": "2d8bf33b-1984-474f-b2f1-7e1bb2da9dfb",
      "credentials": {
        "telegramApi": {
          "id": "wwB3MlzEijeJQ0WF",
          "name": "Abdul Rehman"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Trading View Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trading View Chart": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Telegram1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a585314e-bca8-4e16-a959-e9cac7d724db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7ecf62179e76a087d7f922418191da6ff70562b662cd10c1ca98846d3f0792c"
  },
  "id": "LJSUDFnnPNFSSbQh",
  "tags": []
}